section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; /* Cambio de min-height: 100vh a height: auto */
  padding: 0; /* Añadido para eliminar padding */
}

div.flex {
  display: flex;
  width: 80%;
  max-width: 1200px;
  gap: 10px;
  overflow: hidden;
  margin:3%; /* Añadido para eliminar márgenes */
}

div.flex img {
  width: 100px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: all 0.5s ease;
  max-height: 400px;
  border-radius: 10px;
}

div.flex img:hover {
  cursor: pointer;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
