<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Cards</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<section class="flex justify-center items-center">
  <div class="flex space-x-2 justify-center items-center">
    <img src="assets/M+NK+CLUB+BB+FZ+HOODIE.png" alt="Producto 1" class="h-auto max-h-80 object-contain">
    <img src="assets/NIKE+AIR+180.png" alt="Producto 2" class="h-auto max-h-80 object-contain">
    <img src="assets/NIKE.png" alt="Producto 3" class="h-auto max-h-80 object-contain">
    <img src="assets/pantalonesnike.png" alt="Producto 4" class="h-auto max-h-80 object-contain">
  </div>
</section>
<app-product-card></app-product-card>
</body>
</html>
